<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @document.type %>
</p>

<p>
  <strong>Url:</strong>
  <%= @document.url %>
</p>

<p>
  <strong>Md5:</strong>
  <%= @document.md5 %>
</p>

<p>
  <strong>Password:</strong>
  <%= @document.password %>
</p>

<p>
  <strong>Title:</strong>
  <%= @document.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @document.description %>
</p>

<p>
  <strong>Access type:</strong>
  <%= @document.access_type %>
</p>

<p>
  <strong>User:</strong>
  <%= @document.user %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
